{% extends "base_generic.html" %} {% block content %}

{% comment %} <h1>{{menu_list}}</h1> {% endcomment %}
{% comment %} {% for menu_instance in menu_list %}
  <h1>{{menu_instance.menu.due}}</h1>
  {% for result in menu_instance.results %}
    <h2>{{result}}</h2>
  {% endfor %}
{% endfor %}  {% endcomment %}

<div class="row mt-3">
  <div class="col-sm-7 col-lg-7">
    {% if request.user.is_superuser %}
      <a href="{% url 'poll-create' %}" class="mb-3 btn btn-primary input-block-level btn-block">Tạo poll</a>
    {% endif %}
    <div class="list-group">
      {% for menu_instance in menu_list %}
        <div class="list-item p-3 border mb-3">
            <h5 class="card-title">Menu ngày {{menu_instance.menu.due}}</h5>
            <p class="card-text">
              Danh sách món ăn: 
            </p>
            {% for key, value in menu_instance.results.items %}
              <h5>{{key}}</h5>
              {% for item in value %}
                <a href="{% url 'vote-detail' pk=item.id %}"><span class="text-info">{{item.user_name}}</span></a>
              {% endfor %}
            {% endfor %}
            <p class="card-text">
              <small class="text-muted"
                >Trạng thái: {% if menu_instance.menu.status == 'o' %}<span
                  class="text-success"
                  >open</span
                >{% else %}<span class="text-danger">closed</span>{% endif %}</small
              >
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#voteModal-{{menu_instance.menu.id}}">
              <a data-toggle="tooltip" data-placement="top" title="Tooltip on top">Thông tin người vote</a>
            </button>
            {% if user.is_authenticated %}
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foodModal-{{menu_instance.menu.id}}">
                <a data-toggle="tooltip" data-placement="top" title="Tooltip on top">Chọn món ăn ngay!!</a>
              </button>
            {% else %}
              <a class="btn btn-primary" href="{% url 'login' %}" class="text-info">Đăng nhập để vote</a>
            {% endif %}

            {% if request.user.is_superuser %}
              <a href="{% url 'poll-delete' pk=menu_instance.menu.id %}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Xóa poll</a>
            {% endif %}
            {% if request.user.is_superuser %}
              <a href="{% url 'poll-update' pk=menu_instance.menu.id %}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Sửa poll</a>
            {% endif %}
              <div class="modal fade" id="foodModal-{{menu_instance.menu.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Hết hạn: {{menu_instance.menu.due}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                      {% for dish_instance in menu_instance.menu.list_dish %}
                        <div class="col-sm-6 my-2">
                          <div class="card">
                            <a class="btn btn-primary" href="{% url 'poll-vote' menu_id=menu_instance.menu.id dish_id=dish_instance.id %}">
                              <div class="card-body" style="cursor: pointer;">
                                <h5 class="card-title">{{dish_instance.name}}</h5>
                                <p class="card-text">{{dish_instance.price}}</p>
                              </div>
                            </a>
                          </div>
                        </div>
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="voteModal-{{menu_instance.menu.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Menu: {{menu_instance.menu.due}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                      {% for vote in menu_instance.votes %}
                        <div class="col-sm-6 my-2">
                          <div class="card">
                            {% comment %} <a class="btn btn-primary" href="{% url 'poll-vote' menu_id=menu_instance.menu.id dish_id=dish_instance.id %}"> {% endcomment %}
                              <div class="card-body" style="cursor: pointer;">
                                <h5 class="card-title">{{vote.dish_name}}</h5>
                                <p class="card-text">{{vote.user_name}}</p>
                              </div>
                            {% comment %} </a> {% endcomment %}
                          </div>
                        </div>
                      {% endfor %}
                      </div>
                      <div class="w-full text-center mt-2">
                        <a href="{% url 'poll-detail' pk=menu_instance.menu.id %}" class="btn btn-primary">Thông tin chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-5 col-lg-5">chi phi</div>
  <div class='pagination justify-content-center'>
    {% if menu_list.has_previous %}
      <a href='{% url "polls" menu_list.previous_page_number %}'>Previous </a>
    {% endif %}

    <span class='mx-4'>
      Page {{ menu_list.number }} of {{ menu_list.paginator.num_pages }}
    </span>

    {% if menu_list.has_next %}
      <a href='{% url "polls" menu_list.next_page_number %}' > Next</a>
    {% endif %}
  </div>
</div>
  {% endblock %}
</div>
